* {
  margin: 0;
  padding: 0;
}

:root{
	--borderColor:#c1c1c1;
}


@font-face {
  font-family: 'Bangers';
  src: url('../Bangers-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

html, body {
  background-color: black;
  display: table;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.hidden {
  opacity: 0;
}

section {
  min-height: 100vh;
  background-color: white;
  border-bottom: 1px solid black;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.full-wrapper {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text {
  font-family: Bangers;
  font-size: 3em;
  color: wheat;
  text-align: center;
  width: 50vw;
}

.text-bounce-right,
.text-bounce-left {
  opacity: 0;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  animation-duration: 0.6s;
}

.text-bounce-right {
  animation-name: text-bounce-right;
}

.text-bounce-left {
  animation-name: text-bounce-left;
}

.delay {
  animation-delay: 0.5s;
}

.name {
  display: inline;
  color: aqua;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.button {
   color: wheat;
    font-size: 3rem;
    margin-top: 1em;
    border: 3px solid wheat;
    padding: 15px;
    border-radius: 50%;
}

.button:hover {
  color: black;
  background: wheat;
}

.row {
  justify-content: center;
}

#home {
  background: url(../images/bg.png);
  background-color: black;
  background-size: cover;
  height: 100vh;
}

#about {
  background-size: 300%;
  background-image: linear-gradient(45deg, #F6FEDB, #E6D3A3, #D8D174);
  animation: bg-animation 25s infinite;
}

#skills {
  background-size: 300%;
  background-image: linear-gradient(45deg, #AA767C, #D6A184, #FFA686);
  animation: bg-animation 25s infinite;
}

#skills img {
  width: 100px;
}

.skill {
  margin: 15px;
}

.img-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

#work {
  background-size: 300%;
  background-image: linear-gradient(45deg, #CEE5F2, #ACCBE1, #7C98B3);
  animation: bg-animation 25s infinite;
}

.work {
  justify-content: start;
  margin-top: 10px;
}

.work:hover {
  transform: scale(1.02);
}

.work-wrapper {
  padding: 15px;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background: aliceblue;
	border-radius:5px;
	border:1px solid var(--borderColor);
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.workfor {
  font-weight: 700;
}

.logo {
  max-height: 200px;
  display: flex;
  align-items: center;
  min-height: 50px;
  margin: 15px;
}

.logo > img {
  max-height: 200px;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact {
  background-size: 300%;
  background-image: linear-gradient(45deg, #BBE1C3, #A7CDBD, #869D7A);
  animation: bg-animation 25s infinite;
}

@keyframes bg-animation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  color: black;
}

.header-underline {
  background: black;
  height: 4px;
  margin: 15px 0 20px 0;
  width: 70px;
}

@keyframes text-bounce-right {
  0% {
    opacity: .2;
    transform: translateX(-200px);
  }
  60% {
    opacity: .7;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes text-bounce-left {
  0% {
    opacity: .2;
    transform: translateX(200px);
  }
  60% {
    opacity: .7;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes button-bounce-rotate {
  0% {
    opacity: .2;
    transform: perspective(800px) rotateX(-80deg);
  }
  20% {
    opacity: 1;
  }
  60% {
    transform: perspective(800px) rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: perspective(800px) rotateX(0);
  }
}

// Navigation

nav {
  left: 0;
  color: #fff;
  position: absolute;
  background: #1b242f;
  border-bottom: 3px solid #F0130B;
  height: 50px;
  text-align: left;
  width: 100%;
  z-index: 99;
}
nav.fixed {
  bottom: inherit;
  left: 0;
  position: fixed;
  top: 0;
  animation: scrollIn 0.5s;
}
nav .nav-wrapper {
  display: flex;
  justify-content: center;
  background: #333;
  height: 0;
  max-width: 1200px;
  overflow: hidden;
  position: absolute;
  top: 53px;
  transition: height 0.3s ease-out;
  width: 100%;
}
nav .nav-wrapper.visible {
  height: 220px;
}
nav .nav-wrapper div {
  cursor: pointer;
  font-size: 12pt;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: color 0.5s;
}
nav .nav-wrapper div:first-child {
  padding: 25px 20px 12px 20px;
}
nav .nav-wrapper div:hover {
  color: #FED128;
}
nav .hamburger-menu {
  font-size: 30pt;
  line-height: 36pt;
  margin: auto 0;
  position: absolute;
  right: 5vw;
  top: 0;
}
nav .active {
  color: #FED128;
}

@media screen and (min-width: 600px) {
  nav .nav-wrapper {
    background: none;
    height: initial;
    overflow: visible;
    position: initial;
    text-align: left;
  }
  nav .nav-wrapper .visible {
    height: initial;
  }
  nav .nav-wrapper div {
    display: inline;
    font-size: initial;
    margin: 0 20px;
    padding: initial;
  }
  nav .nav-wrapper div:first-child {
    padding: 0;
  }
  nav .hamburger-menu {
    display: none;
  }
}

@keyframes scrollIn {
  0% {
    transform: translateY(-100px);
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}