* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Bangers';
  src: url('../Bangers-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

html, body {
  background-color: black;
  display: table;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

section {
  height: 100vh;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text {
  font-family: Bangers;
  font-size: 3em;
  color: wheat;
  text-align: center;
  width: 50vw;
}

.text-bounce-right,
.text-bounce-left {
  opacity: 0;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  animation-duration: 0.6s;
}

.text-bounce-right {
  animation-name: text-bounce-right;
}

.text-bounce-left {
  animation-name: text-bounce-left;
}

.name {
  display: inline;
  color: aqua;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.button {
   color: wheat;
    font-size: 3rem;
    margin-top: 1em;
    border: 3px solid wheat;
    padding: 15px;
    border-radius: 50%;
}

.button:hover {
  color: black;
  background: wheat;
}

.home {
  background: url(../images/bg.png);
  background-color: transparent;
}

@keyframes text-bounce-right {
  0% {
    opacity: .2;
    transform: translateX(-200px);
  }
  60% {
    opacity: .7;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes text-bounce-left {
  0% {
    opacity: .2;
    transform: translateX(200px);
  }
  60% {
    opacity: .7;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes button-bounce-rotate {
  0% {
    opacity: .2;
    transform: perspective(800px) rotateX(-80deg);
  }
  20% {
    opacity: 1;
  }
  60% {
    transform: perspective(800px) rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: perspective(800px) rotateX(0);
  }
}

// Navigation

nav {
  left: 0;
  color: #fff;
  position: absolute;
  background: #1b242f;
  border-bottom: 3px solid #F0130B;
  height: 50px;
  text-align: left;
  width: 100%;
  z-index: 99;
}
nav.fixed {
  bottom: inherit;
  left: 0;
  position: fixed;
  top: 0;
}
nav.fixed.desk {
  animation: popDown 0.5s;
}
nav .nav-wrapper {
  background: #333;
  height: 0;
  max-width: 1200px;
  overflow: hidden;
  position: absolute;
  top: 53px;
  transition: height 0.3s ease-out;
  width: 100%;
}
nav .nav-wrapper.visible {
  height: 220px;
}
nav .nav-wrapper div {
  cursor: pointer;
  font-size: 12pt;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: color 0.5s;
}
nav .nav-wrapper div:first-child {
  padding: 25px 20px 12px 20px;
}
nav .nav-wrapper div:hover {
  color: #FED128;
}
nav .hamburger-menu {
  font-size: 30pt;
  line-height: 36pt;
  margin: auto 0;
  position: absolute;
  right: 5vw;
  top: 0;
}
nav .active {
  color: #FED128;
}

@media screen and (min-width: 600px) {
  nav .nav-wrapper {
    background: none;
    height: initial;
    overflow: visible;
    position: initial;
    text-align: left;
  }
  nav .nav-wrapper .visible {
    height: initial;
  }
  nav .nav-wrapper div {
    display: inline;
    font-size: initial;
    margin: 0 20px;
    padding: initial;
  }
  nav .nav-wrapper div:first-child {
    padding: 0;
  }
  nav .hamburger-menu {
    display: none;
  }
}