* {
  margin: 0;
  padding: 0;
}

$randomDelay1: random(200) / 100;
$randomDelay2: random(200) / 100;
$randomDelay3: random(200) / 100;
$randomDelay4: random(200) / 100;
$randomDelay5: random(200) / 100;
$randomDelay6: random(200) / 100;
$randomDelay7: random(200) / 100;
$randomDelay8: random(200) / 100;
$randomDelay9: random(200) / 100;

@font-face {
  font-family: moon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/moon.ttf);
}

html,
  body {
    background-color: black;
    display: table;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }

  #container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }


  .neon-sign {
    margin-bottom: 0;
    margin-left: -4vw;
    margin-right: -4vw;
  }


  .l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9 {
    font-family: moon;
    font-size: 20vw;
    margin-left: 1.5vw;
    display: inline;
    position: relative;
    color: #FED128;
    z-index: 1;
    text-shadow: 
    -.1vw 0vw .1vw #FED128, -.15vw 0vw .2vw #FED128, -.2vw 0vw .2vw #FED128, 
    -.1vw 0vw 3vw #F0130B, -.2vw 0vw 3vw #F0130B, -.4vw 0vw 3vw #F0130B,
    -.1vw 0vw 5vw #F0130B, -.2vw 0vw 5vw #F0130B, -.4vw 0vw .8vw #F0130B, .2vw 0vw 10vw #F0130B;
  }


  .l3 {
    animation: sixtyfive  $randomDelay3 + s 0s ease infinite;
    -moz-animation: sixtyfive  $randomDelay3 + s 0s ease infinite;
    /* Firefox */
    -webkit-animation: sixtyfive  $randomDelay3 + s 0s ease infinite;
    /* Safari and Chrome */
    -o-animation: sixtyfive  $randomDelay3 + s 0s ease infinite;
    /* Opera */
  }


  .l7 {
    animation: sixtyfive  $randomDelay7 + s 0s ease infinite;
    -moz-animation: sixtyfive  $randomDelay7 + s 0s ease infinite;
    /* Firefox */
    -webkit-animation: sixtyfive  $randomDelay7 + s 0s ease infinite;
    /* Safari and Chrome */
    -o-animation: sixtyfive  $randomDelay7 + s 0s ease infinite;
    /* Opera */
  }

  @keyframes sixtyfive {
    0%,
    100% {
    text-shadow: 
    -.1vw 0vw .1vw #FED128, -.15vw 0vw .2vw #FED128, -.2vw 0vw .2vw #FED128, 
    -.1vw 0vw 3vw #F0130B, -.2vw 0vw 3vw #F0130B, -.4vw 0vw 3vw #F0130B,
    -.1vw 0vw 5vw #F0130B, -.2vw 0vw 5vw #F0130B, -.4vw 0vw .8vw #F0130B, .2vw 0vw 10vw #F0130B;
      color: #FED128;
    }
    50% {
    text-shadow: 
    -.1vw 0vw .1vw #705C12, -.15vw 0vw .2vw #705C12, -.2vw 0vw .2vw #705C12, 
    -.1vw 0vw .1vw #5C0704, -.2vw 0vw .1vw #5C0704, -.4vw 0vw .1vw #5C0704,
    -.1vw 0vw .2vw #5C0704, -.2vw 0vw .2vw #5C0704, -.4vw 0vw .2vw #5C0704, .2vw 0vw .5vw #5C0704;
      color: #705C12;
    }
  }
